.features {
  width: 100%;
  padding-top: 60px;

  background-color: #ffffff;
}

.features__heading {
  display: block;
  width: 450px;
  margin: 0 auto 28px auto;

  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.features__intro {
  display: block;
  width: 500px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
